h1{
  text-align: center;
}

.cnt {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 10px 0;
}

.parrafo {
  margin-bottom: 5px;
}

.badge {
 margin: 0 5px;
}

